@charset "utf-8";
/* Em css o charset fica dessa forma */

@font-face{ /* USADO PARA IMPORTARMOS FONTES EXTERNAS BAIXADAS NA INTERNET */
	font-family: 'FonteLogo'; /* Em áspas simples, coloca o nome da fonte que estou importando */
	src: url("../_fonts/bubblegum-sans-regular.otf"); /* 'src' vem de source, ou seja, é a fonte(local) de onde se encontra a fonte(letra) no projeto */
}

/*Aqui embaixo estão os estilos de css (style) body e p, substituindo o que existia no código html. */
body{
	background-color: #dddddd;
	color: rgba(0, 0, 0, 1);
	font-family: Arial, sans-serif;
}

p{
	text-align: justify;
	text-indent: 50px;
}

a{
	text-decoration: none;
	color: #606060;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
}

div#interface{
	background-color: #ffffff;
	width: 1450px;
	margin: -21px auto 0px auto; /* Os parâmetros da margem são respectivamente: pixels de cima, da direita, de baixo e da esquerda. O tamanho da margem direita e esquerda foram colocadas como 'auto' para que fosse ajustada automaticamente pelo navegador, sendo possível CENTRALIZAR a página adequadamente de navegador pra navegador */
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px 10px 10px 10px; /* Como a pixelagem para cima, direita, baixo e esquerda, respectivamente, é a mesma (10px), eu poderia colocar apenas 'padding: 10px;', que seria atribuído 10px para as 4 direções, mas optei por não fazê-lo.*/
}

/* Formatação de Imagens com Legendas */

figure.foto-legenda{ /* Dessa forma acesso o figure da classe foto-legenda*/
	border: 8px solid white; /* Os parâmetros são respectivamente: Largura da borda, tipo de borda(solid=linha continua; dashed=linha tracejada; dotted=linha pontilhada; double=linha contínua mais forte) e cor da borda */
	box-shadow: 1px 1px 4px black;   /* box-shadow é responsável por sobreamentos e seus parâmetros são respectivamente: deslocamento horizontal (em px), deslocamento vertical (em px), espalhamento e cor */
	position: relative; /* A posição relativa para a borda é essencial para mantermos as legenedas dentro desta. A posição relativa indica que a borda ficará na posição do figure relativo ao código em html, ou seja, a borda ficará na posição onde o figure se encontra nocódigo html */
} 

figure.foto-legenda img{
	height: 100%; /* Altura e largura da imagem apenas, com 100% de aproveitamento da borda cada*/
	width: 100%;
}

figure.foto-legenda figcaption{
	opacity: 0; /* Sumir temporariamente com o figcaption (a caixa de legenda e a legenda) */
	position: absolute; /* A legenda ocupará a posição absoluta da borda */
	top: 0px; /* A legenda será colocada no topo da borda nos 0px. Mas para isso, a borda deve estar na posição relativa */
	background-color: rgba(0,0,0,.4); /* Coloca um fundo preto no campo da legenda e com uma transparência de 0.4 */
	color: white; /* Cor da fonte */
	width: 100%; /* Altura e largura do campo da legenda ocupam em 100% toda a borda */
	height: 100%;
	padding: 7%; /* Dá um espaçamento de 10% da legenda em relação à borda */
	box-sizing: border-box; /* A caixa de legenda irá ocupar corretamente a borda */
	transition: opacity 1s; /* Transition define o tempo necessário (em segundos) para realizar uma mudança de um parâmetro. Geralmente àquele que sofrerá modificações ao passarmos o mouse em cima. A ordem dos parâmetros do transition é: o parâmetro a ser modificado, tempo de transição */
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;

}

figure.foto-legenda figcaption:hover{  /* O 'hover' determina uma ação ou conjunto de ações que devem ocorrer no momento em que passamos o mouse em cima de alguma área específica do site. Essa área é explicitada logo em seguida do hover, que nesse exemplo seria o figcaption (campo de legenda e legenda). Dessa forma, quando passamos o mouse no campo de legenda, ou seja, no figcaption, as ações escritas abaixo ocorrerão */
	opacity: 1;
}

/* Formatação do Menu */
nav#menu{
	display: block; /* Transforma o campo niv em um bloco */
}

nav#menu h1{
	display: none;
}

nav#menu ol{  /* O '#menu' é pra especificar que eu estou trabalhando com o nav de id 'menu' */
	list-style: none; /* O 'none' retira os demarcadores do menu */
	text-transform: uppercase; /* Deixa todos os itens da lista em caixa alta */
	/*position: relative;  ->  A POSIÇÃO RELATIVA SÓ IRÁ CONSIDERAR O ESPAÇO DENTRO DO BLOCO NO NAV */
	position: absolute; /* A POSIÇÃO ABSOLUTA CONSIDERA O ESPAÇO DE TODA A PÁGINA DO SITE, NÃO ESTANDO ASSIM LIMITADO A APENAS O ESPAÇO DO BLOCO */
	top: -20px; /* Posição do 'objeto' referenciado, no caso a lista ol, para cima */
	left: 850px; /* Posição do 'objeto' referenciado, no caso a lista ol, para a esquerda */
}

nav#menu li{
	display: inline-block; /* Coloca os itens de menu um ao lado do outro */
	background-color: #dddddd; /* Código rgb para um cinza claro */
	padding: 10px; /* Espalhamento de dentro pra fora do bloco cinza interno ao item. Como eu queria 10px para cima, direita, baixo e esquerda, não precisei colocar os quatro, e sim apenas 1 considerando pra todos. */
	margin: 2px; /* Distância entre um bloco de item a outro */
	transition: background-color 1s;
	/* Essas variações do 'transition' foram geradas ao copiar o código 'transition: background-color 1s;' no site 'Prefixr'. Ele gera códigos equivalentes que suportam em navegadores de versão mais antigas. Nesse caso, a função transition irá funcionar nos mais antigos */
	-moz-transition: background-color 1s; /* Mozila FireFox */
	-webkit-transition: background-color 1s; /* Safari */
	-ms-transition: background-color 1s; /* Navegadores Microsoft */
	-o-transition: background-color 1s; /* Opera */
}

nav#menu li:hover { /* É IMPORTANTE NÃO DEIXAR NENHUM ESPAÇO ENTRE O DOIS PONTOS E O HOVER, POIS ASSIM ELE NÃO FUNCIONA */
	background-color: #606060;
}

nav#menu a{ /* Acessando os links <a> (âncoras) */
	color: #000000; /* código rgb da cor preto */
	text-decoration: none; /* Tira o sublinhado dos links */
	font-weight: normal;
}

nav#menu a:hover{
	color: #ffffff; /* código rgb da cor branco */
	text-decoration: underline; /* Ativa o sublinhado nos links */
}

/* Formatação do Cabeçalho */
header#cabecalho img#icone {
	position: absolute;
	top: 80px;
	left: 1350px;
}

header#cabecalho{
	/*border: 1px #606060 solid; /* Border: 'largura da borda' 'cor da borda' 'estilo da borda';
	/* Existem vários tipos de border: 'border-top', que é a borda de cima; 'border-right', que é a borda da direita; 'border-bottom', que é a borda de baixo; 'borde-left', que é a borda da esquerda. */ 
	border-bottom: 1px #606060 solid; /* Lembrando que estamos falando da borda do CABEÇALHO, por isso que mesmo colocando a borda de baixo, ainda aparece em cima do site */
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 95px; /* Primeiramente, o '..' no url foi para voltar uma pasta, visto que eu estava na pasta '_css' e queria acessar uma outra pasta, a '_imagens'. Quanto ao outro parâmetro, serve para que eu utilize apenas uma cópia da imagem no fundo e não várias repetidas. Os outros dois parâmetros são respectivamente o 'deslocamento horizontal' e o 'deslocamento vertical' da imagem. EU NÃO COLOQUEI 'background-image' PQ NÃO DÁ PRA EVITAR AS REPETIÇÕES ASSIM. */
}

header#cabecalho h1{
	font-family: 'FonteLogo', sans-serif; /* Font family: 'Tipo da fonte', 'sem serifa'; (Serifa são os pequenos traços e prolongamentos que ocorrem no fim das hastes das letras). Nesse caso, como estou utilizando uma fonte externa ou baixada, que foi inicializada lá em cima no '@font-face', usa-se áspas simples no seu nome */
	font-size: 30pt; /* Tamanho da fonte é em 'pt' e não em px */
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5); /* Para colocar sombras em LETRAS, usa-se 'text-shadow'. O 'box-shadow' é apenas para sombras do contorno/borda/contêiner */
	padding: 0px;
	margin-bottom: 10px; /* Margem apenas de baixo */
}

header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif; /* Trecho de código obtido no site 'google.com/fonts' para a fonte Titillium Web */
	font-size: 15pt;
	color: #888888; /* Um cinza claro */
	padding: 0px;
	margin-top: 10px; /* Margem apenas do topo */
}


/* Formatação do section, aside e footer */
section#corpo{
	display: block; /* Deve estar na forma de bloco para que se possa separar na esquerda da página */
	width: 750px;
	float: left; /* 'float' significa flutuar. Uma vez que o parâmetro é 'left', significa que o objeto tratado irá deslocar/flutuar para a esquerda. Só funciona se este se encontrar na forma de bloco */
	border-right: 1px #606060 solid;
	padding-right:20px;

}

aside#lateral{
	display: block;
	width: 650px;
	float: right; /* Desloca o bloco para a direita */
	background-color: #dddddd;
	padding: 10px;
	margin-top: 15px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}

footer#rodape{
	clear: both; /* Uma vez que o rodapé se encontrará na parte debaixo do site. É importante evitar que o mesmo se encontre no meio das duas divisões da esquerda e direita, respectivamente: 'section' e 'aside'. Por isso, o comando 'clear', serve para 'limpar a bagunça' existente entre essas duas divisões. O parâmetro 'both', que significa 'ambos', serve para informar que estamos tirando o rodapé do meio dos DOIS lados. */
	border-top: 1px #606060 solid;
}

footer#rodape p{
	text-align: center; /* Centraliza o texto */
}

article#noticia-principal h2{
	color: #606060;
	background-color: #dddddd;
	font-size: 13pt;
	font-weight: bold;
	vertical-align: middle;
	padding: 5px;
}

header#cabecalho-artigo h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

header#cabecalho-artigo h2{
	background-color: #ffffff;
	color: #cecece;
	font-size: 13pt;
	margin: 0px;
}

header#cabecalho-artigo h3{
	font-size: 12pt;
	color: #606060;
}

.direita{
	text-align:right;
}

aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	color: #606060;
	font-size: 20pt;
	margin-top: 15px;
}

aside#lateral h2{
	font-size: 13pt;
	background-color: #606060;
	color: #ffffff;
	padding: 5px;
}

/* Formatação da Tabela */
table#tabelaspec{
	border: 1px #606060 solid;
	margin-right: auto;
	margin-left: auto; /* Margens da esquerda e direita como 'auto' são feitas para que o objeto fique centralizado, no caso, o objeto é a tabela */
	border-spacing: 0px; /* 'border-spacing' é capaz de unificar as bordas de cada célula (dados da tabelas), por isso é usado 0px, para que não tenha distância entre as bordas e elas fiquem como uma só. Como o nome diz, ele controla o espaço entre as bordas */
}

table#tabelaspec td{
	border: 1px #606060 solid;
	padding: 10px;
	/* Além do comando 'text-align', utilizado para o posicionamento/alinhamento de textos, podendo ser justify, center, left, right, entre outros, existe também uma forma de posicionar textos verticalmente, com o comando 'vertical-align', que assume como parâmetro, valores como 'top'(cima), 'bottom'(baixo) e 'middle'(meio) */
}

table#tabelaspec td.ce{
	text-align: right;
	vertical-align: top;
	background-color: #606060;
	color: #ffffff;
	font-weight: bold; /* Comando utilizado para colocar a letra em negrito no CSS */
}

table#tabelaspec td.cd{
	background-color: #cecece;
}

table#tabelaspec caption{
	color: #888888;
	font-size: 13pt;
	font-weight: bold;
}

table#tabelaspec span{
	display: block;
	float: right;
	font-size: 8pt;
	margin-top: 10px;
}